.table-wrappers {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  
  .download-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  